/*Header*/

header 
{
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  padding: 16px 16px 16px 16px;
     .logo {
        display: flex;
        justify-content: center;
        align-items: center;

            img {
                max-width: 168px;
            }
}
}

/*Footer*/

footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px;
        img {
            max-width: 150px;
            color: #FFF;
            margin-bottom: 10px;
        }
        h3 {
            margin-bottom: 10px;
            color: #e6e6e6;
        }
}