.container-all {
    max-width: 2560px;

    @media screen and (min-width: 1800px) {
        max-width: 1800px;
        margin: auto;
    }

}

.fas {
    margin-right: 20px;
}


h1 {
    color: $colour-primary;
}


/*Loader*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFF;
    left: 0;
    top: 0;
    z-index: 10000;
    animation: loader 3s forwards;
}

/*Animation loader*/

@keyframes loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}

.loader__circle {
    border: 10px solid #F3F3F3;
    border-top: 10px solid $colour-primary;
    border-bottom: 10px solid $colour-secondary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear forwards;

    /*Placement du loader au milieu de la page*/

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Animation du loader circle*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}


/*Onglet recherche de la ville*/

.proj-search {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0;
    font-weight: bold;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 40px 40px;
    margin-bottom: 50px;

    &__book {
        font-weight: bold;
        font-size: 25px;
    }

    &__explore {
        padding: .75rem 1.5rem;
        border-radius: 30px;
        text-align: center;
        color: #FFF;
        font-weight: normal;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        margin: 0 auto;
        background-image: linear-gradient($colour-secondary, $colour-primary);
        transition: background-color 250ms;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);

        &:hover {
            opacity: 0.8;
            box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
        }
    }
}

/*Fonctionnement*/

.function__title {
    margin: 0 0 20px 22px;
}

.function {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;

    h2 {
        margin: 0 0 30px 0;
    }

    &__choice {
        margin: 0 20px 20px 40px;
        font-weight: bold;
        background-color: #F6F6F6;
        padding: 30px 50px 30px 18px;
        margin-left: 20px;
        text-align: center;
        border-radius: 20px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        width: 300px;
        max-height: 78px;

        &:hover {
            background-color: #f5edff;

            .fas {
                color: $colour-primary;
            }
        }

        &__number {
            width: 18px;
            height: 18px;
            padding: 4px 4px;
            border-radius: 50%;
            background-color: $colour-primary;
            color: #FFF;
            position: absolute;
            top: 30%;
            left: -4%;
        }
    }
}




/*Restaurants*/

.restaurants {
    background-color: #f6f6f6;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        padding: 50px 0 10px 22px;
    }

    &__card {
        border-radius: 20px;
        background-color: white;
        margin-bottom: 18px;
        position: relative;
        max-width: 280px;
        min-width: 280px;

        @media screen and (min-width: 375px) {
            max-width: 330px;
            min-width: 280px;
        }

        @media screen and (min-width: 650px) {
            margin-right: 25px;
        }

        img {
            width: 100%;
            max-height: 175px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }

        .restaurants__card__content {
            padding: 19px 11px;
            position: relative;
            display: flex;

            h3 {
                margin-bottom: 6px;
            }

            .restaurants_card__content__name {
                position: relative;
            }

            @keyframes heart__full__opacity {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 0.5;
                    background-image: linear-gradient(100deg, $colour-primary, $colour-secondary);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                100% {
                    opacity: 1;
                    background-image: linear-gradient(100deg, $colour-primary, $colour-secondary);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            @keyframes heart__empty__opacity1 {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                }
            }

            .heart {
                position: absolute;
                right: 20px;
                top: 1;

                &__1 {
                    position: relative;

                    &:hover {
                        animation: heart__empty__opacity1 1s;
                    }
                }

                &__2 {
                    position: absolute;
                    top: 0px;
                    opacity: 0;
                    color: #FFF;

                    &:hover {
                        animation: heart__full__opacity 1s forwards;
                    }
                }
            }
        }

    }

    .btn-new {
        background-color: $colour-tertiary;
        color: #1b6150;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
    }
}