/*Bannière*/

.photo__restaurant {
    img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
}

/*Carte restaurant*/

.card__title {
    font-family: 'Shrikhand', cursive;
}

.fa-heart:before {
    margin-left: 20px;
}

.card__global {
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.card {
    background-color: #F6F6F6;
    padding: 36px 21px;
    margin-top: -20px;
    position: relative;
    z-index: 1;
    border-radius: 20px;

    .far {
        align-self: flex-end;
    }

    h2 {
        margin-bottom: 35px;
    }
}

.entrees {
    margin-bottom: 27px;
    h2::after {
        content:'';
        display: block;
        width: 43px;
        height: 3px;
        background: $colour-tertiary;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity : 1;
    }
}

.card__global__entrees {
    animation: fadein 2s;
}

.card__global__plats {
    animation: fadein 4s;
}

.card__global__desserts {
    animation: fadein 6s;
}

.card__global__entrees, .card__global__plats, .card__global__desserts {
    h2 {
        font-weight: normal;
        font-size: 20px;     
        }
}

.card__global__contenu {
    background-color: #FFF;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    padding: 0 0 0 16px;
    border-radius: .75rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    &:hover {
        .card__global__contenu__dish__confirmation {
            margin-right: 0px;
            transition: margin-right 2s;
        }
    h3 {
        padding-top: 16px;
    }
    }

    @media screen and (min-width: 375px) {
        margin-right: 50px;
        min-width: 250px;
        width: 100%;
    }
}

.card__global__contenu__dish {
    width: 300px;
    padding: 14px 0;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
}

.card__global__contenu__dish__confirmation {
    background-color: #99E2D0;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: -64px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: #FFF;
    color: $colour-tertiary;
    display: flex;
    align-items: center;
    align-content: center;
}

.card__price {
    align-self: flex-end;
    font-weight: bold;
}

.header_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
        font-weight: normal;
    }
}

/*Bouton Commander*/

.bouton__commander {
    padding: 30px 0 80px 0;
    text-align: center;
    background-color: #F6F6F6;

    &--pink {
        background-color: $colour-primary;
        padding: .75rem 1.5rem;
        border-radius: 30px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: #FFF;
        font-weight: normal;
        font-size: 20px;
        margin: 0 auto;
        background-image: linear-gradient($colour-secondary,$colour-primary);
        transition: background-color 250ms;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        &:hover {
            opacity: 0.8;
            box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
        }
    }
}